<% @post_images.each do |post_image| %>
<div>
  <%= link_to public_post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>

  <p>動物名: <%= post_image.name %></p>
  <p>説明: <%= post_image.description %></p>
</div>
<% end %>