<% if @model == 'user' %>
  <h3> [Usersモデルの検索結果] 検索ワード: <%= @content %></h3>
  <%= render 'public/users/index', users: @records %>
<% else @model == 'post_images' %>
  <h3>[Postモデルの検索結果] 検索ワード: <%= @content %></h3>
  <%= render 'public/post_images/index', post_images: @records %>
<% end %>