<div class="text-center">
  <h1>ようこそトップ画面</h1>
  <p>ここは自分の飼育している生物の魅力を語り合うSNSサイトです。<br>
     様々な生物の魅力や飼育において難しいことなど知りたいことが分かるサイトを目指しております。<br>
     また、その生物の飼育のデメリット部分も踏まえて紹介していきたいと思います。<br>
     飼育に際して、夜行性などの弊害なども踏まえたライフスタイルも考えていきたいです。</p>
</div>


