<div>
  <% if current_user != user %>
    <% if current_user.followings?(user) %>
      <%= link_to "フォローを外す", public_relationship_path(user), method: :delete, remote: true %>
    <% else %>
      <%= link_to "フォローする", public_relationships_path(user), method: :post, remote: true %>
    <% end %>
  <% end %>
</div>