<div>
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
  <div>
    <p><%= image_tag user.get_profile_image(100,100) %></p>
    <p>
      <%= link_to public_user_path(user.id) do %>
      <%= user.name %>
      <% end %>
    </p>
    <%#= render "public/relationships/relationships", user: @user %>
  </div>
  <% end %>
</div>